[submodule "darshan"]
	path = darshan
	url = https://github.com/hariteja-jajula/darshan.git
[submodule "diaspora-stream-api"]
	path = diaspora-stream-api
	url = https://github.com/hariteja-jajula/diaspora-stream-api.git
[submodule "flowcept"]
	path = flowcept
	url = https://github.com/hariteja-jajula/flowcept.git
